# Review tất cả thay đổi trên repository
* @thutam231006-commits @trinhngoctruc-oss

# Phân công review theo từng thư mục chức năng:
/backend/ @thutam231006-commits
/frontend/ @MinhPhuc4k11
/docs/ @huuthai216-cell @tranthiduyen204xavia-svg
/test/ @tranthiduyen204xavia-svg
